<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
					<!-- logo -->
					<div class="site-logo">
						<a routerLink="/">
							<img src="assets/img/logo.png" alt="">
						</a>
					</div>
					<!-- logo -->

					<!-- menu start -->
					<nav class="main-menu">
						<ul>
							<li class="current-list-item"><a routerLink="/" routerLinkActive="active">Home</a>
								<ul class="sub-menu">
									<li><a routerLink="/">Static Home</a></li>
								</ul>
							</li>
							<li><a routerLink="/about" routerLinkActive="active">About</a></li>
							<li><a>Pages</a>
								<ul class="sub-menu">
									<li><a routerLink="/not-found">404 page</a></li>
									<li><a routerLink="/about">About</a></li>
									<li><a routerLink="/cart">Cart</a></li>
									<li><a routerLink="/checkout">Check Out</a></li>
									<li><a routerLink="/contact">Contact</a></li>
									<li><a routerLink="/news">News</a></li>
									<li><a routerLink="/shop">Shop</a></li>
								</ul>
							</li>
							<li><a routerLink="/news" routerLinkActive="active">News</a>
								<ul class="sub-menu">
									<li><a routerLink="/news">News</a></li>
									<li><a routerLink="/single-news">Single News</a></li>
								</ul>
							</li>
							<li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
							<li><a routerLink="/shop" routerLinkActive="active">Shop</a>
								<ul class="sub-menu">
									<li><a routerLink="/shop">Shop</a></li>
									<li><a routerLink="/checkout">Check Out</a></li>
									<li><a routerLink="/single-product">Single Product</a></li>
									<li><a routerLink="/cart">Cart</a></li>
								</ul>
							</li>
							<li>
								<div class="header-icons">
									<a class="shopping-cart" routerLink="/cart"><i class="fas fa-shopping-cart"></i></a>
									<a class="mobile-hide search-bar-icon" href="javascript:void(0)"><i class="fas fa-search"></i></a>
								</div>
							</li>
						</ul>
					</nav>
					<a class="mobile-show search-bar-icon" href="javascript:void(0)"><i class="fas fa-search"></i></a>
					<div class="mobile-menu"></div>
					<!-- menu end -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Search For:</h3>
						<input type="text" placeholder="Keywords">
						<button type="submit">Search <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end search area -->

<!-- Router Outlet - This is where page content will be displayed -->
<router-outlet></router-outlet>

<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>Lacarpellese Italiano is a specialized Italian canned food exporting company dedicated to delivering authentic Italian taste to international markets. Premium quality, traditional recipes, modern standards.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>C. DA DONNA CAMILLA, SNC<br>89013 Gioia Tauro (RC)<br>ITALY</li>
						<li>info&#64;lacarpellese.com</li>
						<li>Contact us for export inquiries</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a routerLink="/">Home</a></li>
						<li><a routerLink="/about">About</a></li>
						<li><a routerLink="/shop">Shop</a></li>
						<li><a routerLink="/news">News</a></li>
						<li><a routerLink="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form>
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>Copyrights &copy; 2024 - <span class="orange-text">Lacarpellese Italiano</span>, All Rights Reserved.<br>
					C. DA DONNA CAMILLA, SNC, 89013 Gioia Tauro (RC), ITALY
				</p>
			</div>
			<div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end copyright -->
